### Node template
# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

### WEBPACK

/public/js/main.js
/public/js/main.js.map
\.idea/
/public/js/app.js
/public/js/app.js.map
/public/css/app.css
/public/css/app.css.map
eslint.xml